.hero__title {
  @include font(26px, 900, 1.62, 0.06em);
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  color: var(--white-color);
  margin-bottom: 30px;

  @include desktop {
    @include font(44px, 900, 1.36, 0.06em);
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 24px;
  @include desktop {
    padding: 10px 32px;
  }
}

.overlay {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: var(--bg-gradient), url(../images/bg-img-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include ratio {
    background-image: var(--bg-gradient), url(../images/bg-img-mob-2x.jpg);
  }

  @include tablet {
    max-width: 768px;
    background-image: var(--bg-gradient), url(../images/bg-img-tab.jpg);
    @include ratio {
      background-image: var(--bg-gradient), url(../images/bg-img-tab-2x.jpg);
    }
  }

  @include desktop {
    max-width: 1200px;
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/bg-img.jpg);
    @include ratio {
      background-image: var(--bg-gradient), url(../images/bg-img-2x.jpg);
    }
  }
}
